.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.not-found-header {
  font-size: 2rem;
  color: #ff4d4f;
}

.not-found-desc {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.not-found-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.not-found-btn:hover {
  background-color: #0056b3;
}
