.transactions {
  height: 100%;
}
.transactions-container {
  padding: 16px 42px;
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}
.transactions-container-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}
.transactions-container-header-item {
  display: flex;
  align-items: center;
}
.transactions-summery {
  width: 100%;
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
  row-gap: 5%;
  height: 300px;
}
.transactions-summery-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  height: 100%;
}
.chart {
  width: 100%;
  margin-inline-start: 24px;
}
.transactions-container-body {
  margin-top: 24px;
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .transactions-container-header {
    flex-direction: column;
  }
  .chart {
    margin-inline-start: 0;
  }
}
@media (max-width: 426px) {
  .transactions-summery{
    grid-template-columns:1fr;
    height: 600px;
  }
  .chart {
    margin-inline-start: 0;
  }
}
