.transactions {
  height: 100%;
}
.transactions-container {
  padding: 16px;
}
.transactions-container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.transactions-container-header-item {
  display: flex;
  align-items: center;
}
.transactions-summery {
  width: 100%;
  margin-bottom: 8px;
}
.transactions-summery-card {
 
  width: 100%;
  margin: 0px 8px;

}
.chart {
  width: 100%;
  background-color: blue;
}
.transactions-container-body {
  margin-top: 8px;
  background-color: blue;
  height: 100%;
}
