.primary-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .primary-btn:hover {
    background-color: #0056b3;
  }
  
  .secondary-btn {
    background-color: #ff0022;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .secondary-btn:hover {
    background-color: #ff002292;
  }

  .border-bottom{
    border-bottom: 1px solid #3b3b3b;
    width: 100%;
  }
  