.primary-btn,
.secondary-btn,
.icon-btn {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  font-size: 1rem;
  margin-inline-end: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s all;
}

.primary-btn {
  background-color: #007bff;
}
.primary-btn:hover {
  background-color: #0056b3;
}
.primary-btn:disabled {
  background-color: #3b3b3b;
  cursor: not-allowed;
  opacity: 0.2;
}

.secondary-btn {
  background-color: #ff0022;
}

.secondary-btn:hover {
  background-color: #ff002292;
}

.icon-btn {
  background-color: #d1d1d1;
  padding: 8px;
  display: flex;
}

.icon-btn:hover {
  background-color: #b0b1b1;
}

.primary-input {
  position: relative;
  color: black;
  font-size: 16px;
  border: 2px solid gray;
  padding: 8px;
  border-radius: 4px;
  outline: none;
  width: 100%;
}

.primary-input:focus {
  border-color: #3b3b3b;
}
.primary-input:disabled {
  background-color: #e4e9e9;
}

.currency-input {
  position: relative;
  display: flex;
  align-items: center;
}

.currency-input .primary-input {
  padding-right: 40px; /* Prevent text overlap */
}

.currency-label {
  position: absolute;
  right: 10px;
  font-weight: bold;
  color: #555;
}
.currency-select{
  position: absolute;
    right: 0px;
    width: 25%;
}
.currency-select-style{
  background-color: #b0b1b1;
}


select {
  width: 100%;
  padding: 8px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: white;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

select::-ms-expand {
  display: none;
}

select:hover {
  border-color: #333;
}

select:focus {
  border-color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

option {
  background: white;
  color: #333;
}

.error-color {
  background-color: #ff0022;
  color: white;
}
.edit-color {
  background-color: #007bff;
  color: white;
}

.income {
  color: #3c8632;
}
.expenses {
  color: #b12417;
}
.income_bg {
  background-color: #bdffb5;
}
.expenses_bg {
  background-color: #ff948b;
}
