* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", serif;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
.main-layout {
  height: 100vh;
}
