.transactions-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.transactions-list-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.transactions-list-header-title{
  font-size: 24px;
  font-weight: 600;
  color: black;
}
.transactions-list-actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.transactions-list-body {
  margin-top: 16px;
  display: flex;
  justify-content: start;
  height: 100%;
  width: 100%;
}
.transactions-list-body-container {
  width: 100%;
  padding: 16px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  height: 100%;
  height: calc(100vh - 300px);

  overflow-y: auto;
}
.transactions-list-body-container-item {
  width: 100%;
  margin-bottom: 20px;
}
.transactions-list-body-container-empty{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px;
  width: 100%;
  height: 100%;
}
.transactions-list-body-container-empty-icon{

  margin-bottom: 16px;
}
.transactions-list-body-container-empty-icon-style{

 height: 60px;
 width: 60px;
}
.transactions-list-body-container-empty-title{
  font-size: 32px;
  font-weight: 500;
}

/* filter styling */

.filter {
  position: relative;
}
.filter-container {
  position: absolute;
  top: 100%;
  left: 0%;
  background: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.filter-item,
.filter-item-date-picker {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  margin-right: 4px;
  margin-left: 4px;
}
.filter-item-label {
  font-size: 16px;
  color: #3b3b3b;
}
.filter-label-action {
  width: 100%;
  margin-top: 8px;
}
.filter-item-action-btns {
  width: 100%;
  margin-top: 16px;
}
.filter-item-date,
.filter-container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}
.filter-container-header-title{
  font-size: 24px;
  font-weight: 600;
  color: black;
}
.filter-container-header-close{
  cursor: pointer;
}
@media (max-width: 426px) {
  .transactions-list-header{
    flex-direction: column;
    align-items: flex-start;
  }
  .actions-btns{
    display: flex;
    align-items: center;
    margin-top: 16px;
  }
  .filter-container{
    width: 250px;
  }
  .filter-item-date{
    width: 100%;
    flex-direction: column;
  }
  .filter-item-date-picker{
    width: 100%;
  }
}