.form-group {
  margin-bottom: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-group-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.form-group-item-label {
  font-size: 16px;
  color: black;
}
.form-group-item-input {
  margin-inline-start: 8px;
  width: 100%;
}
