.card {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 100%;
}
.card-title {
  font-size: 24px;
  font-weight: 600;
  color: #222222;
  margin-bottom: 16px;
}
/* preview part */
.card-preview {
  padding: 16px;
  width: 100%;
  position: relative;
  border-radius: 8px;
}
.card-form {
  padding: 16px;
  width: 100%;
}

.card-preview-action {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
}
.card-preview-header {
  margin-top: 4px;
  display: flex;
  align-items: center;
}
.card-preview-header-title {
  color: white;
  font-size: 24px;
  font-weight: 600;
}
.card-preview-header-icon {
  margin-inline-start: 16px;
}
.card-preview-header-icon-container {
  color: #222222;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background: #faf9f9;
  border-radius: 10px;
  padding: 8px;
  display: flex;
}
.card-preview-header-icon-container-iconstyle {
  width: 20px;
  height: 20px;
}

.card-preview-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.card-preview-amount,
.card-preview-details,
.card-preview-details-category,
.card-preview-details-date {
  display: flex;
  align-items: center;
}
.card-preview-amount-label,
.card-preview-details-category-label,
.card-preview-date-details-label {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.card-preview-amount-number,
.card-preview-details-category-number,
.card-preview-date-details-number {
  color: white;
  font-size: 16px;
  font-weight: 800;
}
.card-preview-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-preview-details-category {
  margin-right: 16px;
}

/* tabs part */

.tabs {
  display: flex;
  margin-bottom: 12px;
}
.tab-btn {
  width: 100%;
  padding: 8px;
  border: none;
  cursor: pointer;
  background: #ddd;
}
.tab-btn.active {
  background: #3b3b3b;
  color: white;
}

/* form part */
.form {
  margin-bottom: 12px;
  margin-top: 12px;
}
@media (max-width: 426px) {
  .card-preview-body,
  .card-preview-details {
    flex-direction: column;
    align-items: flex-start;
  }
  .card-preview-details-category,
  .card-preview-details-date {
    margin-top: 8px;
  }
}
